#m-navRoot{
    margin-bottom: 50px;
    padding: 0;
    box-sizing: border-box;
}

#m-navbar{
    position: fixed;
    top:0;
    left:0;
    height: 60px;
    width: 100%;
    background-color: var(--c-norm-9);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 4px solid var(--c-norm-4);
    z-index: 10;
}
#m-navbar > div{
    height: 100%;
    display: flex;
    align-items: center;

    padding: 0 15px;
}
#m-navbar > div:nth-child(1){
    justify-content: flex-start;
    width: 70%;
}
#m-navbar > div:nth-child(2){
    justify-content: flex-end;
    width: 30%;
}

#m-navbar img{
    list-style: none;
    margin: 0;
    padding: 0;

    height: 40%;
    cursor: pointer;
}

#m-navbar p{
    list-style: none;
    margin: 0 0 2px 20px;
    padding: 0;
    font-weight: bold;
    color:black;
    font-size: 1.2em;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#m-perms{
    margin: 0 10px 0 0;
    padding: 4px 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-norm-5);
    border-radius: 10px;
    cursor: default;
}

#m-perms > h2{
    margin: 0 0 1px 0;
    padding: 0;
    font-size: 1.2em;
    color: var(--c-norm-9);
}

@media (max-width: 360px) {
    #m-perms{
        display: none;
    }
}